<!DOCTYPE html>
{% extends "layout.html" %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サイト説明</title>
    <link rel=stylesheet href="../static/css/about.css">
</head>
<body>
    {% block content %}
    <section id="second-block">
        <p class="info-title">
            戦う顔とは
        </p>
        <div class="about-container">
            <p class="info-text">
              <b>きっかけ</b>
              <br>
              <span class="font-small">
                2022年シーズンの京田は開幕から打率1割台と
              <br>
              深刻な打撃不振に陥っていたが、チーム事情も
              <br>
              あり、何とかレギュラーの座に踏みとどまって
              <br>
              いる状態だった。しかし調子は一向に上向かず、
              <br>
              5月4日の対DeNA戦(横浜スタジアム)では
              <br>
              16打数連続無安打を記録してしまった上、持ち
              <br>
              味であるはずの守備面でも流れを止めてしまう。
              <br>
              上記のミスが引き金となり、試合中に二軍へ強
              <br>
              制送還を命じられた。試合後、立浪和義監督が
              <br>
              この理由について記者に問われた際、「戦う顔
              <br>
              をしていないんで」と説明した。
              </span>
            </p>
      
            <p class="info-text">
              <b>野球ファンの間でも話題に</b>
              <br>
              <span class="font-small">
              たびたび話題となっている「戦う顔」というワード。
              <br>
              ツイッターのトレンドや野球系ユーチューバーも多用している。
              </span>
            </p>
      
            <p class="info-text">
              <b>日ハムでも</b>
              <br>
              <span class="font-small">
              日本ハムファイターズの選手名鑑の写真が一新！
              <br>
              顔に影が入り、キリっとした顔つきの証明写真へ。
              <br>
              野球ファンの間では「戦う顔をしている」と話題に
              </span>
            </p>
          </div>
        </section>
        
        
    <a href="/">戻る</a>
    {% endblock %}
</body>
</html>

