<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet href="../static/css/layout.css">
    
</head>

<body>
<header class="header-nav">
    <nav><a href="{{ url_for('index') }}">Home</a></nav>
    <nav><a href="{{ url_for('about') }}">About </a></nav>
    <nav><a href="{{ url_for('judge') }}">Judge</a></nav>
    <nav><a href="{{ url_for('generate') }}">Generate</a></nav>
</header>
       
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <small>© battle face</small>
    </footer>

</body>

</html>